html {
  background-color: #F8EFBA;
  background-image: -webkit-linear-gradient(65deg, #f1c40f 50%, #F8EFBA 50%);
  min-height: 1000px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #f5f6fa;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #f5f6fa;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #f1c40f;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f6fa;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #f1c40f;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #f1c40f;
  color: #f5f6fa;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 18px;
  font-weight: 200;
  width: 313px;
  font-family: 'Poppins', sans-serif;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #f1c40f;
  font-family: 'Poppins', sans-serif;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: #f5f6fa;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
